NodeRED.json
[{"id":"daca5694.124df8","type":"tab","label":"Personagem Marvel","disabled":false,"info":""},{"id":"26239a76.dbafd6","type":"telegram bot","z":"","botname":"MarvelEagleBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"65c53dcb.005c04","type":"telegram bot","z":"","botname":"JoaoBatistaBot","usernames":"","chatids":""},{"id":"eea0e570.891348","type":"telegram bot","z":"","botname":"hdidemobot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":true,"verboselogging":true},{"id":"1298c3e9.16761c","type":"telegram bot","z":"","botname":"hdidemobot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":true,"verboselogging":true},{"id":"1afc5d92.b97292","type":"telegram bot","z":"","botname":"JoaoBatistaBot","usernames":"","chatids":""},{"id":"cd300d96.3a945","type":"telegram bot","z":"","botname":"JoaoBatistaBot","usernames":"","chatids":""},{"id":"9c9d7491.472288","type":"telegram receiver","z":"daca5694.124df8","name":"Telegram","bot":"26239a76.dbafd6","saveDataDir":"","filterCommands":false,"x":140,"y":240,"wires":[["c5f6947a.3b3748","59dc40c3.527d6","d961a8b8.6fdd18"],["ae68ed8.0d3781"]]},{"id":"c5f6947a.3b3748","type":"function","z":"daca5694.124df8","name":"","func":"msg.telegramChatID= msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\n\nmsg.params = {\n    classifier_ids: [\"Marvel_1586922577\"],\n\n}\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[["fe3206e.f9940f8"]]},{"id":"ae68ed8.0d3781","type":"debug","z":"daca5694.124df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":100,"wires":[]},{"id":"fe3206e.f9940f8","type":"visual-recognition-v3","z":"daca5694.124df8","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"pt-br","x":590,"y":200,"wires":[["81b54944.9292c8","ec37b67.50fec48"]]},{"id":"aadfad24.321c6","type":"telegram sender","z":"daca5694.124df8","name":"","bot":"26239a76.dbafd6","x":1040,"y":280,"wires":[[]]},{"id":"ec37b67.50fec48","type":"debug","z":"daca5694.124df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":100,"wires":[]},{"id":"81b54944.9292c8","type":"function","z":"daca5694.124df8","name":"","func":"models=msg.result.images[0].classifiers\n\nstr=[]\n\nif(models){\n    models.forEach(function (model,idx1) {\n        if (model.classes){\n            model.classes.forEach(function(classes,idx2){\n                str.push(classes.class)\n\n            });\n        }\n    });\n    output=\"Este é um personagem da Marvel! Ele é o \" + str.join(', ')+ \"!! Se voce quiser saber mais sobre este personagem, digite abaixo o nome dele novamente.\" \n}\n \nif(str.length===0){\n    output=\"Desculpe! Não reconheci como personagem Marvel!\"\n}\nmsg.payload={\n    chatId: msg.telegramChatID,\n    content:output, \n    type: \"message\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":200,"wires":[["aadfad24.321c6"]]},{"id":"f694174f.e2cae8","type":"watson-conversation-v1","z":"daca5694.124df8","name":"","workspaceid":"7833a6dd-5e0c-43bb-9e54-ef09aaec5127","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":560,"y":400,"wires":[["e84e8e13.a35b9"]]},{"id":"59dc40c3.527d6","type":"function","z":"daca5694.124df8","name":"Save context","func":"context.flow.chatId = msg.payload.chatId;\ncontext.flow.type = msg.payload.type;\nmsg.payload = msg.payload.content;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":400,"wires":[["f694174f.e2cae8","33b8aa48.306a26"]]},{"id":"e84e8e13.a35b9","type":"function","z":"daca5694.124df8","name":"Restore context","func":"for(x=0;x<msg.payload.output.text.length;x++)\n{\n    msg.payload.chatId = flow.get(\"chatId\");\n    msg.payload.type = \"message\"\n    msg.payload.content = msg.payload.output.text[x];\n\n}\nreturn msg;\n\n\n// msg.payload.chatId = context.flow.chatId;\n// msg.payload.type = context.flow.type;\n// msg.payload.content = msg.payload.output.text[0] + msg.payload.content = msg.payload.output.text[1];\n\n// return msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["aadfad24.321c6","49a60c4c.fae204"]]},{"id":"e0582e14.1dda9","type":"debug","z":"daca5694.124df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":540,"wires":[]},{"id":"49a60c4c.fae204","type":"debug","z":"daca5694.124df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":440,"wires":[]},{"id":"33b8aa48.306a26","type":"debug","z":"daca5694.124df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":300,"wires":[]},{"id":"d961a8b8.6fdd18","type":"function","z":"daca5694.124df8","name":"","func":"flow.set(\"chatId\", msg.payload.chatId);\nflow.set(\"type\", msg.payload.type);\nflow.set(\"content\",msg.payload.content);\nflow.set(\"weblink\",msg.payload.weblink);\nflow.set(\"audio\",false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":420,"wires":[["117f9579.8d870b"]]},{"id":"37891507.b4500a","type":"change","z":"daca5694.124df8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weblink","tot":"msg"},{"t":"set","p":"audio","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":520,"wires":[["e17960c0.4e3b9"]]},{"id":"117f9579.8d870b","type":"switch","z":"daca5694.124df8","name":"","property":"type","propertyType":"flow","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":520,"wires":[["37891507.b4500a"],[]]},{"id":"e17960c0.4e3b9","type":"watson-speech-to-text","z":"daca5694.124df8","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"nwHlUE4dzaCLRILSMQrds1NZqq2X_yddr8WvEMpanfr0","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":560,"y":520,"wires":[["f694174f.e2cae8","e0582e14.1dda9"]]}]